streamlit
pandas
plotly
matplotlib
scipy
gspread
python-dotenv
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-chroma
chromadb
google-genai
google-auth-oauthlib
google-auth
sentence-transformers
google-generativeai
streamlit-float
wordcloud
konlpy